@import './base.css';
@import url('https://fonts.cdnfonts.com/css/inter');
@import './css/tailwind.css';

body, html {
  margin: 0;
  padding: 0;
}

#app {
  font-weight: normal;
  font-family: Inter;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

button.btng {
  width: 80%;
  background: transparent;
  padding: 10px 0;
  border-radius: 200px;
  color: var(--primary);
  border: 3px solid var(--primary);
  background-image: -webkit-linear-gradient(30deg, var(--primary) 50%, transparent 50%);
  background-image: linear-gradient(30deg, var(--primary) 50%, transparent 50%);
  background-size: 300%;
  background-repeat: no-repeat;
  -webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  background-position: 100%;

  &:hover {
    background-position: 0;
    color: #fff;
   }
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  width: 100%;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
}

.hc-card {
  background: #FFFFFF;
  box-shadow: 0 0 10px 1px rgba(10, 10, 10, 0.09);
  border-radius: 10px;
  padding: 10px 20px;
}